body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(67, 82, 238);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 100%;
  padding: 30px;
  margin-top: 30px;
}

.question {
  max-width: 550px;
  text-align: center;
  font-size: 20px;
}

.options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(170, 180, 234);
}

.options button:hover {
  background-color: rgb(112, 122, 233);
}

#hangman-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.error-img {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.next-question {
  position: absolute;
  margin-top: -110px;
  margin-left: 130px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(170, 180, 234);
  display: none;
   animation: blink 1s infinite;
}

.next-question:hover {
  background-color: rgb(112, 122, 233);
}

.status {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
  font-weight: bold;
   animation: blink 1s 2;
  
}

.status-message {
   font-size: 20px;
  text-align: center;
  margin: 20px 0;
  display: none;
 
}
.status-correct {
  color: green;
  background-color: #e6ffe6;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.status-wrong {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  display: none;
  position: absolute;
  font-size: 20px;
  margin-left:-250px;
  margin-top: 100px;
}

.status-congrats {
  color: blue;
  background-color: #e6f0ff;
  font-size: 2em;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.status-lost {
  color: darkred;
  background-color: #f9e6e6;
  padding: 10px;
  border-radius: 5px;
  display: none;
  position: absolute;
  font-size: 30px;
  margin-left: -250px;
  margin-top: -10px;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}